.ListItem {

  display: flex; /* Use flexbox */
  justify-content: space-between; 
  align-items: center; 
    color:#565353ed; 
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    transition: color 0.3s ease;
    border-color: black 1px;
    width: 500px;
    border: 0.5px solid  #a09b9bed;
    border-radius: 0.5em;
    background-color: white;
  
  }

  .button{
     text-align: right;
  }

  .ListItem button {
    margin-left: auto; /* Push the button to the end */
}

  .ListItem:hover {
    color: #32cd32; /* LimeGreen color */
  }




  